* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.container a {
    display: flex;
    justify-content: space-around;
}

.efecct {
    width: 48%;
    height: 315px;
    position: absolute;
    margin-top: 26%;
    margin-bottom: 0px;
}

a>.button {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 2%;
    margin-top: 77%;
    padding: .7em .5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

a>.third {
    border-color: #4933FF;
    box-shadow: 0 0 40px 40px #4933FF inset, 0 0 0 0 #4933FF;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    color: #fff;
    text-decoration: none;
}

a>.third:hover {
    box-shadow: 0 0 10px 0 #4933FF inset, 0 0 10px 4px #4933FF;
}

.container__rss {
    display: flex;
    justify-content: center;
    margin: 86vh 0 0 45.8vw;
    position: absolute;
}

img.icon_rss.icon_ig {
    width: 2rem;
    /*margin-left: -55px;*/
}

img.icon_rss.icon_fb {
    width: 1.7rem;
    margin: .2rem 0 0 2rem;
}

.hard_data__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    margin-top: 100vh;
}

.hard_data__title {
    width: 18rem;
    margin-top: 103vh;
    margin-left: 6.5vw;
    position: absolute;
}

.hard_data__info p {
    margin: 120vh 0 0 10vw;
    width: 25%;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: white;
}

.hard_data__frase {
    width: 27rem;
    margin-top: 141vh;
    margin-left: 7vw;
    position: absolute;
    /*background: rgba(0, 0, 0, 0.5);*/
}

.glitch {
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    /*-moz-transform: rotate(-20.0deg);
    -o-transform: rotate(-20.0deg);
    -webkit-transform: rotate(-20.0deg);*/
    font-size: 43px;
    color: white;
}

.internacionales_pre {
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 170vh 0 0 8vw;
}

.internacionales {
    margin: 176vh 0 0 16vw;
}

.escenarios_pre {
    font-size: 5rem;
    font-weight: 700;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 150vh 0 0 47vw;
}

.escenarios {
    margin: 160vh 0 0 40vw;
}

.nacionales_pre {
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 170vh 0 0 58vw;
}

.nacionales {
    margin: 175vh 0 0 65vw;
}


/*Comienza la tabla de precios*/

.precies {
    background: #494949;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004808, #13256f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004808, #13256f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 200vh 0 30vw 0;
    position: absolute;
}

.precies p,
a,
h2,
h3 {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.precies__title {
    justify-content: center;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 7vh;
    margin-left: 43vw;
    position: absolute;
}

.contenedor {
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-top: 15vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tabla {
    width: 33%;
    height: 550px;
    margin: auto;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px white;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: white;
}

.tabla>h2 {
    font-size: 30px;
    margin-bottom: 35px;
}

.tabla img {
    width: 64px;
    margin-bottom: 35px;
}

.tabla>h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.tabla>p {
    display: block;
    margin-bottom: 20px;
}

.boton {
    display: inline-block;
    width: 150px;
    padding: 12px;
    background: #00ff0c;
    text-decoration: none;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
}

.tabla:hover {
    background: #00000038;
    color: #f1f1f2;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
}

.precios {
    background: #00000038;
    width: 33%;
    height: 550px;
    margin: auto;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px white;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    color: white;
}

.tabla_precios {
    width: 90%;
    max-width: 900px;
    margin: 10% auto;
    margin-top: 20vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/*MediaQuerys - Tablet*/


/*Portrait*/

@media (min-width: 720px) and (max-width: 770px) {
    .header__img {
        width: 100%;
        height: 75%;
        object-fit: cover;
        position: absolute;
    }
    a>.button {
        font-size: 0.9rem;
        line-height: 1;
        margin: 1%;
        margin-top: 112%;
        padding: .5em .3em;
    }
    .hard_data__background {
        width: 100%;
        height: 95%;
        object-fit: cover;
        position: absolute;
        margin-top: 23%;
    }
}

@media (min-width: 700px) and (max-width: 721px) {
    .header__img {
        width: 100%;
        height: 75%;
        object-fit: cover;
        position: absolute;
    }
    a>.button {
        font-size: 0.9rem;
        line-height: 1;
        margin: 1%;
        margin-top: 120%;
        padding: .5em .3em;
    }
    @media (min-width: 670px) and (max-width: 699px) {
        .header__img {
            width: 100%;
            height: 70%;
            object-fit: cover;
            position: absolute;
        }
        a>.button {
            font-size: 0.9rem;
            line-height: 1;
            margin: 1%;
            margin-top: 125%;
            padding: .5em .3em;
        }
    }
    @media (min-width: 630px) and (max-width: 669px) {
        .header__img {
            width: 100%;
            height: 70%;
            object-fit: cover;
            position: absolute;
        }
        a>.button {
            font-size: 0.9rem;
            line-height: 1;
            margin: 1%;
            margin-top: 135%;
            padding: .5em .3em;
        }
    }
}


/*fin tablet*/


/*movil*/

@media (max-width: 575.98px) {
    .header__img {
        width: 100%;
        height: 75%;
        object-fit: cover;
        position: absolute;
    }
    a>.button {
        font-size: 0.6rem;
        line-height: 0.7;
        margin: 0.7%;
        margin-top: 150%;
        padding: .6em .7em;
    }
    .hard_data__background {
        width: 100%;
        height: 85%;
        object-fit: cover;
        position: absolute;
        margin-top: 48%;
    }
}

@media (min-width: 380px) and (max-width: 390px) {
    a>.button {
        font-size: 0.5rem;
        line-height: 0.5;
        margin: 0.5%;
        margin-top: 150%;
        padding: .6em .7em;
    }
    .hard_data__background {
        width: 100%;
        height: 85%;
        object-fit: cover;
        position: absolute;
        margin-top: 48%;
    }
}

@media (min-width: 321px) and (max-width: 379px) {
    .header__img {
        width: 100%;
        height: 68%;
        object-fit: cover;
        position: absolute;
    }
    a>.button {
        font-size: 0.5rem;
        line-height: 0.5;
        margin: 0.5%;
        margin-top: 35rem;
        padding: .6em .7em;
    }
    .hard_data__background {
        width: 100%;
        height: 85%;
        object-fit: cover;
        position: absolute;
        margin-top: 11rem;
    }
}

@media (max-width: 320px) {
    .header__img {
        width: 100%;
        height: 75%;
        object-fit: cover;
        position: absolute;
    }
    a>.button {
        font-size: 0.5rem;
        line-height: 0.5;
        margin: 0.5%;
        margin-top: 30rem;
        padding: .6em .7em;
    }
    .hard_data__background {
        width: 100%;
        height: 85%;
        object-fit: cover;
        position: absolute;
        margin-top: 9.7rem;
    }
}


/*fin movil*/


/*Media Querys de Lista de precios*/

@media screen and (max-width: 1000px) {
    .tabla {
        width: 45%;
        max-width: none;
        margin-bottom: 40px;
        flex-grow: initial;
    }
}

@media screen and (max-width: 700px) {
    .tabla {
        width: 45%;
        padding: 30px;
    }
    .tabla>h2 {
        margin-top: 40px;
    }
}

@media screen and (max-width:550px) {
    .tabla {
        width: 85%;
        padding: 20px;
    }
}